<!-- @autor milomnz -->

<footer class="page-footer">
  <div class="footer-links">
    <span class="footer-link footer-copyright">© 2026 NEO PHYSIS</span>
    <a class="footer-link" href="#">Ethics Protocol</a>
    <a class="footer-link" href="#">Privacy Policy</a>
  </div>
  <div class="social-links">
    <div class="social-btn">
      <span class="material-symbols-outlined" style="font-size: 1.1rem;">share</span>
    </div>
    <div class="social-btn">
      <span class="material-symbols-outlined" style="font-size: 1.1rem;">mail</span>
    </div>
  </div>
</footer>